@import "../abstract/constants";

.card-body__button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 30px;
  float: right;
  transition: all ease-out .3s;
}

.svg_button {
  width: 20px;
  height: 30px;
}

.repeat {
  width: calc(8vw + 8px) !important;
}


.button_play {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.button_play__button button {
  display: none;
  background: $color-background-checkbox;
  font-family: $font-body !important;
  font-weight: bolder;
  font-size: 23px;
  width: calc(33vw + 8px);
  transition: all ease-out .3s;
}

.svg_repeat {
  width: 25px;
  margin-bottom: 5px;
}
