.action_Set_A {
  list-style-image: url("https://img.icons8.com/plasticine/25/000000/running.png");
}

.main_Page {
  list-style-image: url("https://img.icons8.com/color/25/000000/circled-left-2.png");
}

.action_Set_B {
  list-style-image: url("https://img.icons8.com/officel/25/000000/swimming.png");
}

.animal_Set_A {
  list-style-image: url("https://img.icons8.com/color/25/000000/flying-stork.png");
}

.animal_Set_B {
  list-style-image: url("https://img.icons8.com/color/25/000000/cute-hamster.png");
}

.clothesIcon {
  list-style-image: url("https://img.icons8.com/color/25/000000/clothes.png");
}

.emotionsIcon {
  list-style-image: url("https://img.icons8.com/officexs/25/000000/crazy.png");
}

.professionsIcon {
  list-style-image: url("https://img.icons8.com/color/25/000000/doctor-male--v1.png");
}

.colorsIcon {
  list-style-image: url("https://img.icons8.com/color/25/000000/ios-photos.png");
}

.scoreIcon {
  list-style-image: url("https://img.icons8.com/color/25/000000/positive-dynamic.png");
}

