@import "../abstract/constants";

.score__table {
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.score__item {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  text-align: center;
  flex: 0 0 14%;
  border: 1px solid black;
  margin: 3px 0;
  padding: 0;
  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.score_wrapper {
  display: flex;
  justify-content: center;
}
