@import "../abstract/constants";

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.score__title_buttons {
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  max-height: 50px;
  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.score__table {
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.score__item {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  text-align: center;
  flex: 0 0 14%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px 0;
  padding: 0;
  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.score_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header_item button {
  width: 100%;
}

.border_none {
  border: none;
}