.wrapper_total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total__win_image {
  display: none;
  margin-top: 8vw;
}

.total__lose_image {
  display: none;
  margin-top: 8vw;
}

