$color-line-hamburger: #3b4043;
$color-text-card: #212529;
$color-card-body: radial-gradient(at top, #FEFFFF, #A7CECC);
$color-links: #545454;
$color-category-card-body: white;
$color-background-checkbox: radial-gradient(circle, rgba(255,174,33,1) 0%, rgba(198,162,95,1) 84%);

$font-body: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,
"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";