.categories__cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  flex: 1 0 20%;
  max-width: 18rem;
  max-height: 18rem;
  margin: 10px;
  @media (max-width: 1019px) {
    flex: 1 0 45%;
  }
}

.card-body {
  background: $color-card-body;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.category_card_body {
  height: 30px;
  background: $color-category-card-body;
}

.card-text {
  text-align: center;
}

.card-img-top {
  max-height: 10rem;
}