.categories__cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 20%;
  max-width: 18rem;
  max-height: 18rem;
  margin: 10px;
}

.card-text {
  text-align: center;
}

.card-img-top {
  max-height: 10rem;
}