.categories__cards_img {
  max-height: 10rem !important;
}

.category_card_body {
  height: 10px !important;
}

.card-text {
  font-weight: bolder;
}

.card-translate {
  margin: 0;
  z-index: 30;
  //display: none;
  font-weight: bolder;
  text-align: center;
}